.img-log{
    height: 400px;
    width: 350px;
}
.btn-info{
    padding: 8px 43px;
    border-radius: 19px;
    background-color: #155097;
    margin: 20px 0;
    border:1px solid #155097
}
.btn-info:hover{
    background-color: #fff;
    color: #155097;   
}
/*Form ko image k parallel lanay k liye*/
.g{
    padding: 90px 0;
}
/*form k box ki styling*/
.form-control{
    border-radius: 0;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;/*box k neechy wali line ki width*/
}
/*icons ki styling*/
.input-group-addon{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}
.icon{
	font-size:32px;
}
.center-align{
	text-align:center;
}
.footer .social-icon{
    padding:0px;
    margin:0px;
}
.footer .social-icon a{
    display:inline-block;
    font-size:25px;
    padding:5px;
}